
<nav class="menu-nav">
  <ul>
      <li><a [routerLink]="['/']" aria-label="Home page">Home</a></li>
      <li><a [routerLink]="['/dashboard']" aria-label="Dashboard" *ngIf="show">Dashboard</a></li>
      <li><a [routerLink]="['/about']" aria-label="About us">About</a></li>
      <li><a [routerLink]="['/login']" aria-label="User Login" >Login</a></li>
      <li><a [routerLink]="['/signup']" aria-label="signup" >signup</a></li>
      <li><a class="nav-link" aria-label="signup" (click)="authService.SignOut()" *ngIf="show">Log Out</a></li>
      <li><a [routerLink]="['/contact']" aria-label="Contact Website Administrator">Contact</a></li>
  </ul>
</nav>


<!-- *ngIf="!show" -->
