
<h1>Budget/Expense for July</h1>
<div class="formGroup">
  <input type="text" class="formControl" [(ngModel)]="BudgetTitle" #title required>
</div>
<br>
<div class="formGroup">
  <input type="number" class="formControl" [(ngModel)]="BudgetAmount" #budget required>
</div>
<br>
<div class = "formGroup">
  <button type="button" class="btn btnPrimary" value="Save" (click)="addRecord()" [disabled]="!BudgetTitle || !BudgetAmount">Add</button>
</div>
<br>


<table class="center" style="width:100%">
  <tr>
    <th>Title</th>
    <th>Budget</th>
    <th>Confirm Edit</th>
    <th>Delete</th>
  </tr>

    <tr *ngFor= "let each of budgetTitleData">
      <td><input type="text" [(ngModel)]="each.title"></td>
      <td>$<input type="text" [(ngModel)]="each.amount"></td>
      <td><button class="btn" (click)="updateData(each)">Edit</button></td>
      <td><button class="btn" (click)="deletedata(each.id)">Delete</button></td>
    </tr>

</table>

<div class="page-area text-center">
  <article>
    <h3><b> Pie Chart</b> </h3>
    <p>
        <canvas id="myChartPie" width="400" height="400"></canvas>
    </p>
  </article>
  <article>

    <h3><b> Bubble Chart</b> </h3>
    <p>
      <canvas id="myChartBubble" width="400" height="400"></canvas>
  </p>
</article>
<article>

  <h3><b> Bar Chart</b> </h3>
  <p>
    <canvas id="myChartBar" width="400" height="400"></canvas>
</p>
  </article>
</div>
