<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<nav >
  <table>
  <th id="bar">
  <ul>
    <button type="button" (click)="setJanuary()">January</button>
    <button type="button" (click)="setFebruary()">February</button>
    <button type="button" (click)="setMarch()">March</button>
    <button type="button" (click)="setApril()">April</button>
    <button type="button" (click)="setMay()">May</button>
    <button type="button" (click)="setJune()">June</button>
    <button type="button" (click)="setJuly()">July</button>
    <button type="button" (click)="setAugust()">August</button>
    <button type="button" (click)="setSeptember()">September</button>
    <button type="button" (click)="setOctober()">October</button>
    <button type="button" (click)="setNovember()">November</button>
    <button type="button" (click)="setDecember()">December</button>
    <button id="blueLog"><a class="nav-link" aria-label="signup" (click)="authService.SignOut()" >Log Out</a></button>

  </ul>
  </th>
<th class="center" width="100%">
<div class="center">
<br>
<br>
<pb-january *ngIf="this.monthSet=='jan'"></pb-january>
<pb-february *ngIf="this.monthSet=='feb'"></pb-february>
<pb-march *ngIf="this.monthSet=='mar'"></pb-march>
<pb-april *ngIf="this.monthSet=='apr'"></pb-april>
<pb-may *ngIf="this.monthSet=='may'"></pb-may>
<pb-june *ngIf="this.monthSet=='jun'"></pb-june>
<pb-july *ngIf="this.monthSet=='jul'"></pb-july>
<pb-august *ngIf="this.monthSet=='aug'"></pb-august>
<pb-september *ngIf="this.monthSet=='sep'"></pb-september>
<pb-october *ngIf="this.monthSet=='oct'"></pb-october>
<pb-november *ngIf="this.monthSet=='nov'"></pb-november>
<pb-december *ngIf="this.monthSet=='dec'"></pb-december>

<router-outlet></router-outlet>
</div>
</th>
</table>
</nav>
